# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
env/
venv/

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Robot Framework output files
log.html
report.html
output.xml
selenium-screenshot-*.png

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db